%h1 All Badges

%table#badges
  %thead
    %tr
      %th Name
      %th Image
      %th Claim Code
      %th More Info
  %tbody
    render :partial => 'badge', :collection => @badges

= link_to 'Add new badge', new_badge_path
