%h1 Badges Display

= render :partial => 'display_badge', :collection => @badges

#admin
  = link_to 'View All Badges (Admin Only)', all_badges_path
  %br= link_to 'View All Submissions (Admin Only)', submissions_path
