%h1 Badges Display

- @badges.each do |badge|
  = render :partial => 'display_badge' 

#admin
  = link_to 'View All Badges (Admin Only)', all_badges_path
  %br= link_to 'View All Submissions (Admin Only)', submissions_path
