%h1 All Submissions

%table#submissions
  %thead
    %tr
      %th Name
      %th Email
      %th Badge
      %th Date
      %th Status
      %th More Info
      %th Push
  %tbody
    = render :partial => 'submission', :collection => @submissions
