= link_to "Click here to claim your badge", "javascript:OpenBadges.issue(['http://nwpbadges.herokuapp.com/submissions/#{@submission.id}/assert.json'], function(errors, successes) {});"
= link_to "Back to submission list", submissions_path
