html, body {
  height: 100%;
}

.header-container {
  padding-left: 40px;
}

.left-column-container {
  min-width: 150px;
  padding-left: 40px;
}

.badge-container {
  text-align: center;
  margin-bottom: 20px;
  border: 1px grey solid;
}

.badge-info {
  padding: 25px 10px 0px 10px;
}

.title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

table#submissions {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px;
}

table#submissions th {
  border: 2px;
  font-weight: bold;
}

table#submissions th, table#submissions td {
  padding: 4px;
  text-align: left;
}
